
// in order to use the sass variables in base.scss, I had to use @import "";
@import "../../base.styles.scss";


.admin-product-list-item {

    display               : grid;
    grid-template-rows    : min-content;
    grid-template-columns : 21% 27% 9% 11% 10% 5% 5%;
    justify-items         : left;
    align-content         : center;
    grid-gap              : 0 2%;
    height                : 10.0rem;
    margin                : 0 0 0 0;
    padding               : 0 0 0 0.5rem;

    border-bottom : solid 1px rgba( 211, 211, 211, 1 );

    font-family : $font-primary-1;
    font-size   : 1.6rem;
    font-weight : 300;
    color       : $gray-900;

    transition : all 0.3s ease-out;

    &:hover {

        // background : rgba( 242, 248, 255, 1 );
        background : $gray-200;

        cursor : pointer;

    }

    &:nth-child( odd ) {

        // background : rgba( 242, 248, 255, 1 );
        // background : rgba( 248, 250, 252, 1 );
        // background : rgba( 245, 245, 245, 1 );
        background : $gray-200;

        // background-image: linear-gradient( 120deg, rgba( 253, 251, 251, 1 ) 0%, rgba( 235, 237, 238, 1 ) 100% );

        background-image: $gray-gradient-right;

        // background : url( ../../assets/linen.png  );

        // background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);

    }

    &:nth-child( odd ):hover {

        background : $gray-200;

    }

    @media all and ( max-width : $bp-1280 ) {

        font-size : 110.0%; // the default seemed a little small so I increased the font size

    }

    @media all and ( max-width : $bp-1024 ) {

        grid-template-columns : 36% 12% 14% 12% 7% 7%;

    }

    @media all and ( max-width : $bp-920 ) {

        grid-template-columns : 44% 16% 16% 8% 8%;

    }

    @media all and ( max-width : $bp-768 ) {

        grid-template-columns : 52% 22% 10% 10%;

    }

    @media all and ( max-width : $bp-620 ) {

        grid-template-columns : 70% 13% 13%;

    }


    @media all and ( max-width : $bp-480 ) {

        grid-template-columns : 64% 16% 16%;
        align-items           : center;

    }

    @media all and ( max-width : $bp-375 ) {

        grid-template-columns : 60% 18% 18%;
        align-items           : center;

    }

    &--id {

        cursor : text;

        @media all and ( max-width : $bp-1024 ) {

            display : none;

        }

    }

    &--name {

        cursor : text;

        @media all and ( max-width : $bp-480 ) {

            padding : 0 4.5rem 0 0;
    
        }

    }

    &--price {

        cursor : text;

        @media all and ( max-width : $bp-620 ) {

            display : none;

        }

    }

    &--category {

        cursor : text;

        @media all and ( max-width : $bp-920 ) {

            display : none;

        }
    
    } // end of category

    &--brand {

        cursor : text;

        @media all and ( max-width : $bp-768 ) {

            display : none;

        }
    
    } // end of brand

    &--edit > a {
    
        position : relative;

        color           : $blue-webkit-link;
        text-decoration : none;

        &:hover {

            color : $blue-webkit-link;

        }

        // add animating underline
        &::before {

            position : absolute;
            bottom   : 0;
            left     : 0;
            width    : 100%;
            height   : 1px;

            background-color : $blue-webkit-link;

            content    : "";
            visibility : hidden;
            transform  : scaleX( 0 );
            transition : all 0.3s ease-in-out 0s;

        }

        &:hover::before {

            visibility : visible;
            transform  : scaleX( 1 );

        }

    } // end of edit > a

    &--delete {

        position: relative;

        &--fa-trash {

            position : absolute;
            left     : -2.0rem;
            bottom   : -1.0rem;
            padding  : 1.5rem 2.0rem;

            border-radius : 4px;

            color : rgba( 165, 42, 42, 1 );
    
            cursor : pointer;
    
            transition : all 0.2s ease-out;
        
            &:hover {

                // background : rgba( 232, 238, 245, 1 );
                background : rgba( 237, 237, 239, 1 );

            }

            @media all and ( max-width : $bp-480 ) {

                position : static;
                left     : 0;
                bottom   : 0;
                padding  : 0;

            }
            
        }

    } // end of delete

} // end admin-product-list-item

