
// in order to use the sass variables in base.scss, I had to use @import "";
@import "../../base.styles.scss";

.cart-dropdown {
    display            : grid;
    grid-template-rows : repeat( 2, min-content );
    align-content      : space-between;
    z-index            : 5;
    width              : 300px;
    height             : 600px;
    overflow-y         : scroll;
    padding            : 4.0rem 2.0rem;

    border     : 1px solid rgba( 211, 211, 211, 1 );
    // box shadow is from " https://css-tricks.com/almanac/properties/b/box-shadow/ "
    box-shadow :
        0 2.8px 2.2px rgba( 0, 0, 0, 0.034 ),
        0 6.7px 5.3px rgba( 0, 0, 0, 0.048 ),
        0 12.5px 10px rgba( 0, 0, 0, 0.06 ),
        0 22.3px 17.9px rgba( 0, 0, 0, 0.072 ),
        0 41.8px 33.4px rgba( 0, 0, 0, 0.086 ),
        0 100px 80px rgba( 0, 0, 0, 0.12 )
    ;

    background : $white;

    &--cart-items {
        display               : grid;
        grid-template-rows    : min-content;
        grid-template-columns : auto;

        &--empty-message {
            font-size : 1.8rem;
            text-align : center;
        }

    }

    &--btn-container {
        padding : 0 0 3.0rem 0;

        outline : none;

        &--btn {
            @include button();
            display : block; // this makes the button span the element

            letter-spacing : 1px;
        }

        // disable the link if cartItemsCount is 0
        &--btn-disable {
            @include button();
            display : block; // this makes the button span the element

            letter-spacing : 1px;

            pointer-events : none; // disable the link if we are out of stock
        }
    }
}

