
// in order to use the sass variables in base.scss, I had to use @import "";
@import "../../base.styles.scss";

.order-item {

    display               : grid;
    grid-template-rows    : min-content;
    grid-template-columns : 24% 24% 23% 23%;
    justify-items         : end;
    align-items           : center;
    grid-gap              : 0 2%;
    margin                : 4.0rem 0 0 0;
    padding               : 0 0 4.0rem 0;

    border-bottom : 1px solid rgba( 211, 211, 211, 1 );

    font-family : $font-primary-1;
    font-size   : 1.6rem;
    font-weight : 300;
    color       : $gray-800;

    @media all and ( max-width : $bp-1280 ) {

        font-size : 110.0%; // the default seemed a little small so I increased the font size

    }

    @media all and ( max-width : $bp-1024 ) {

        grid-template-rows    : repeat( 3, min-content );
        grid-template-columns : repeat( 12, 1fr );
        justify-items         : start;            
        margin                : 6.0rem 0 6.0rem 0;
        padding               : 2.0rem;
    
        border : rgba( 204, 204, 204, 1 ) 1px dotted;
       
    }

    @media all and ( max-width : $bp-920 ) {

        font-size : 110.0%; // the default seemed a little small so I increased the font size

    }

    // decrease the top margin on the first order item
    &:first-child {

        @media all and ( max-width : $bp-1024 ) {

            margin : 5.0rem 0 6.0rem 0;
        
        }

    }

    // remove the bottom border for the last order item
    &:last-child {

        border-bottom: none;

        @media all and ( max-width : $bp-1024 ) {

            border-bottom: rgba( 204, 204, 204, 1 ) 1px dotted;
        
        }

    }

    &--image {

        @media all and ( max-width : $bp-1024 ) {

            grid-row    : 1 / 2;
            grid-column : 4 / 10;
            margin      : 0 0 0 0;
    
        }

        @media all and ( max-width : $bp-920 ) {

            grid-row    : 1 / 2;
            grid-column : 3 / 11;
    
        }

        @media all and ( max-width : $bp-768 ) {

            grid-row    : 1 / 2;
            grid-column : 2 / 12;
    
        }

        @media all and ( max-width : $bp-480 ) {

            grid-row    : 1 / 2;
            grid-column : 1 / 13;
    
        }

    }

    &--name {

        margin : 0 0 0 1.0rem;

        @media all and ( max-width : $bp-1024 ) {

            grid-row    : 2 / 3;
            grid-column : 4 / 7;
            margin      : 2.8rem 0 0 0;
    
        }

        @media all and ( max-width : $bp-920 ) {

            grid-row    : 2 / 3;
            grid-column : 3 / 7;
    
        }

        @media all and ( max-width : $bp-768 ) {

            grid-row    : 2 / 3;
            grid-column : 2 / 7;
    
        }

        @media all and ( max-width : $bp-480 ) {

            grid-row    : 2 / 3;
            grid-column : 1 / 7;
    
        }

    }

    &--price {

        color : $gray-700;

        @media all and ( max-width : $bp-1024 ) {

            grid-row     : 2 / 3;
            grid-column  : 7 / 10;
            justify-self : end;
            margin       : 2.8rem 0 0 0;
    
        }

        @media all and ( max-width : $bp-920 ) {

            grid-row     : 2 / 3;
            grid-column  : 7 / 11;
    
        }

        @media all and ( max-width : $bp-768 ) {

            grid-row    : 2 / 3;
            grid-column : 7 / 12;
    
        }

        @media all and ( max-width : $bp-480 ) {

            grid-row    : 2 / 3;
            grid-column : 7 / 13;
    
        }

    }

    &--quantity {

        display : block;

        @media all and ( max-width : $bp-1024 ) {

            grid-row    : 3 / 4;
            grid-column : 4 / 7;
            margin      : 2.0rem 0 0 0;
    
        }

        @media all and ( max-width : $bp-920 ) {

            grid-row    : 3 / 4;
            grid-column : 3 / 7;
    
        }

        @media all and ( max-width : $bp-768 ) {

            grid-row    : 3 / 4;
            grid-column : 2 / 7;
    
        }

        @media all and ( max-width : $bp-480 ) {

            grid-row    : 3 / 4;
            grid-column : 1 / 7;
    
        }

    }

}