
// in order to use the sass variables in base.scss, I had to use @import "";
@import "../../base.styles.scss";


.admin-product-list-screen {

    display               : grid;
    grid-template-rows    : repeat( 3, min-content );
    grid-template-columns : 1fr;
    grid-gap              : 0 0;
    margin                : 4.0rem 0;

    &--create-product-button-container {

        justify-self : end;
        padding      : 0 0 1.0rem 0;

        @media all and ( max-width : $bp-768 ) {

            padding : 1.0rem 0 2.0rem 0;
    
        }

        @media all and ( max-width : $bp-620 ) {

            padding : 1.0rem 0 3.0rem 0;
    
        }

        @media all and ( max-width : $bp-480 ) {

            justify-self : start;
            padding      : 1.0rem 0 6.0rem 0;
    
        }

        &--button {

            @include button();

            display : block; // this makes the button span the element                

            letter-spacing : 1px;

        }

        &--fa-plus {

            color : rgba( 230, 230, 230, 1 );

        }

    }

    &--title {

        padding : 0 0 0.5rem 0;
        
        font-family    : $font-primary-1;
        font-size      : 3.2rem;
        font-weight    : 300;
        color          : $gray-800;
        letter-spacing : 2px;
        text-align     : left;

        border-bottom : solid 1px rgba( 211, 211, 211, 1 );

    }
    
    &--main {

        margin : 0 0 3.0rem 0;

        &--header {

            display               : grid;
            grid-template-rows    : min-content;
            grid-template-columns : 21% 27% 9% 11% 10% 5% 5%; // needs to match admin-product-list-item.styles.scss
            justify-items         : left;
            align-content         : center;
            grid-gap              : 0 2%;
            height                : 6.0rem;
            margin                : 0;
            padding               : 0 0 0 0.5rem;

            border-bottom : solid 1px rgba( 211, 211, 211, 1 );

            /*
            font-family : $font-primary-1;
            font-size   : 1.6rem;
            font-weight : 400;
            color       : $brown-300;
            */

            
            font-family    : $font-primary-1;
            font-size      : 1.55rem;
            font-weight    : 300;
            color          : $gray-900;
            text-transform : uppercase;
            
            @media all and ( max-width : $bp-1280 ) {

                font-size : 110.0%; // the default seemed a little small so I increased the font size

            }

            @media all and ( max-width : $bp-1024 ) {

                grid-template-columns : 36% 12% 14% 12% 7% 7%;
        
            }

            @media all and ( max-width : $bp-920 ) {

                grid-template-columns : 44% 16% 16% 8% 8%;
    
            }

            @media all and ( max-width : $bp-768 ) {

                grid-template-columns : 52% 22% 10% 10%;
        
            }

            @media all and ( max-width : $bp-620 ) {

                grid-template-columns : 50% 18% 18% 8%;
        
            }

            @media all and ( max-width : $bp-480 ) {

                grid-template-columns : 64% 16% 16%;
                align-items           : center;

            }

            @media all and ( max-width : $bp-375 ) {

                grid-template-columns : 60% 18% 18%;
                align-items           : center;

            }

            &--id {

                @media all and ( max-width : $bp-1024 ) {

                    display : none;
        
                }

            }

            &--price {

                @media all and ( max-width : $bp-620 ) {

                    display : none;
        
                }

            }

            &--category {

                @media all and ( max-width : $bp-920 ) {

                    display : none;
        
                }

            }

            &--brand {

                @media all and ( max-width : $bp-768 ) {

                    display : none;
        
                }

            }

            &--edit {

                display : none;

            }

            &--delete {

                display : none;
            
            }

        } // end of header

    } // end of main

} // end of admin-product-list-screen
