
// in order to use the sass variables in base.scss, I had to use @import "";
@import "../../base.styles.scss";


.info-message-container {
    width   : 100%;
    margin  : 0 0 0 0;
    padding : 2.0rem;

    border-radius : 3px;

    // blue gradiant
    background : linear-gradient( to top, rgba( 172, 203, 238, 1 ) 0%, rgba( 231, 240, 253, 1 ) 100% );
    background : linear-gradient( 120deg, rgba( 137, 247, 254, 1 ) 0%, rgba( 102, 166, 255, 1 ) 100% );
    background : linear-gradient( 120deg, rgba( 161, 196, 253, 1 ) 0%, rgba( 194, 233, 251, 1 ) 100% );

    &--h3 {
        font-family : $font-primary-1;
        font-size   : 1.6rem;
        font-weight : 400;
        color       : $gray-800;
    }
}